body {
    color:aliceblue; 
    background-color: aqua;
}
.first {
    color: black;
    background-color: beige;
    text-align: center;
    width: 100%;
    border-radius: 20px;
}
.first:hover {
    color: brown;
}
h1 {
    color: blue;
}
.gym {
    width: 50%;
    height: 60%;
    border: solid rgb(58, 46, 46) 12px;
}
.gangactivity {
    width: 50%;
    height: 60%;
    border: solid rgb(43, 34, 34) 12px;
}
.lightskin {
    width: 50%;
    height: 60%;
    border: solid rgb(53, 46, 46) 12px;
}